<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="Description" content="Enter your description here" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <!-- <link rel="stylesheet" href="assets/css/style.css"> -->
        <title>Flask MySQL CRUD</title>
    </head>
    <body>
        <div class="container d-flex">
            <div class="col-md-6">
                <!-- Formulario y sección de vista de los registros -->
                <h1 class="text-center">Formulario de registro de clientes</h1>
                <!-- Creamos un formulario y lo enviamos por la ruta /add_contact del archivo App.py y con el mismo método (POST)-->
                <form action="../controller/salvarCliente.php" method="post">
                    <div class="form-group">
                        <label for="documento">Documento: </label>
                        <input type="text" class="form-control" name="documento" aria-describedby="documentoHelp">
                    </div>
                    <div class="form-group">
                        <label for="nombre">Nombre: </label>
                        <input type="text" class="form-control" name="nombre" aria-describedby="nombreHelp">
                    </div>
                    <div class="form-group">
                        <label for="apellido">Apellido: </label>
                        <input type="text" class="form-control" name="apellido" aria-describedby="apellidoHelp">
                    </div>
                    <div class="form-group">
                        <label for="fechaNacimiento">Fecha de Nacimiento: </label>
                        <input type="text" class="form-control" name="fechaNacimiento" aria-describedby="fechaNacimientoHelp">
                    </div>
                    <div class="form-group">
                        <label for="numeroTelefono">Número de teléfono: </label>
                        <input type="text" class="form-control" name="numeroTelefono" aria-describedby="numeroTelefonoHelp">
                    </div>
                    <div class="form-group">
                        <label for="correo">Correo: </label>
                        <input type="text" class="form-control" name="correo" aria-describedby="correoHelp">
                    </div>
                    <button type="submit" class="btn btn-primary" name="registrarCliente">Registrar</button>
                </form>
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Doc</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Nacimiento</th>
                            <th scope="col">Telefono</th>
                            <th scope="col">Correo</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
    </body>
</html>