<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="Description" content="Enter your description here"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <title>SECCIÓN REGISTRO CLIENTES</title>
    </head>
    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
            <div class="container">
                <a href="../index.php" class="navbar-brand">CRUD PHP MVC</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Menu de navegación -->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="view/registrarCliente.php">Registrar cliente</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../view/gestionClientes.php">Gestionar clientes</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Form of register -->
        <div class="container">
            <h1 class="text-center">Formulario de registro de clientes</h1>
            <form action="../controller/salvarCliente.php" method="post">
                <div class="form-group">
                    <label for="documento">Documento: </label>
                    <input type="text" class="form-control" name="documento" aria-describedby="documentoHelp">
                    <small id="documentoHelp" class="form-text text-muted">Espacio para el documento del cliente.</small>
                </div>
                <div class="form-group">
                    <label for="nombre">Nombre: </label>
                    <input type="text" class="form-control" name="nombre" aria-describedby="nombreHelp">
                    <small id="nombreHelp" class="form-text text-muted">Espacio para el nombre del cliente.</small>
                </div>
                <div class="form-group">
                    <label for="apellido">Apellido: </label>
                    <input type="text" class="form-control" name="apellido" aria-describedby="apellidoHelp">
                    <small id="apellidoHelp" class="form-text text-muted">Espacio para el apellido del cliente.</small>
                </div>
                <div class="form-group">
                    <label for="fechaNacimiento">Fecha de Nacimiento: </label>
                    <input type="text" class="form-control" name="fechaNacimiento" aria-describedby="fechaNacimientoHelp">
                    <small id="fechaNacimientoHelp" class="form-text text-muted">Espacio para la fecha de nacimiento del cliente.</small>
                </div>
                <div class="form-group">
                    <label for="numeroTelefono">Número de teléfono: </label>
                    <input type="text" class="form-control" name="numeroTelefono" aria-describedby="numeroTelefonoHelp">
                    <small id="numeroTelefonoHelp" class="form-text text-muted">Espacio para el numeroTelefono del cliente.</small>
                </div>
                <div class="form-group">
                    <label for="correo">Correo: </label>
                    <input type="text" class="form-control" name="correo" aria-describedby="correoHelp">
                    <small id="correoHelp" class="form-text text-muted">Espacio para el correo del cliente.</small>
                </div>
                <button type="submit" class="btn btn-primary" name="registrarCliente">Registrar</button>
            </form>
        </div>
        <br>
        <footer class="bg-dark text-white">
            <div class="footer-copyright text-center py-3">© 2022 Copyright: PROYECTO MVC CLIENTES
            </div>
        </footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
    </body>
</html>